<!-- Location ページ -->
<!-- ヘッダー -->
<%= render 'layouts/users-header' %>
<!-- 国一覧 -->
<div class = "container-fluid">
  <div class = "row">
    <main class = "clearfix">
      <div class = "row">
        <div class = "main-image">
          <h1>LOCATION</h1>
        </div>
      </div>
      <div class = "row">
        <div class = "country-wrapper">
  	     <% @countries.each do |country| %>
    		　　<div class = "country-items-box">
              <div class = "country-items">
    			　　　<%= attachment_image_tag country, :country_img, :fill, 400, 400, format: 'jpeg', fallback: "/no_image.jpg", size: "400x300" %><br>
    			　　　<span class = "country_name"> <%= link_to country.country_name, users_country_path(country) %></span>
    		　　  </div>
           </div>
  	      <% end %>
          <%= paginate @countries, class: "country-paginate" %>
        </div>
      </div>
    </main>
  </div>
</div>
<%= render 'layouts/users-footer' %>
