<!-- 国ごとの都市一覧 -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/users-header' %>
<div class = "container-fluid">
  <div class = "row">
    <!-- メイン背景イメージ -->
    <div id  = "country-show-img-box">
      <%= attachment_image_tag @country, :country_img, :fill, 1000, 500, format: 'jpeg', fallback: "/no_image.jpg", class: "country-show-img" %>
      <h1><%= @country.country_name %></h1>
    </div>
  </div>
  <!-- メイン画像と検索フォーム -->
  <div class = "row" id = "search">
    <!-- 検索フォーム -->
    <div id = "search-engine-countries-index" >
      <%= search_form_for @search, url: users_country_path(@country.id) do |f| %>
        <%= f.search_field :city_name_cont, class: 'form-control', placeholder: "都市を検索", id: "city-search" %>
        <%= f.submit "search", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
  <div class = "row">
    <div class = "country-wrapper">
     <% @cities.each do |city| %>
    　　<div class = "country-items-box">
          <div class = "country-items">
      　　　<%= attachment_image_tag city, :city_img, :fill, 400, 300, format: 'jpeg', fallback: "/no_image.jpg", size: "400x300" %><br>
      　　　<span class = "country_name"> <%= link_to city.city_name, users_city_path(city) %></span>
    　　  </div>
       </div>
      <% end %>
    </div>
    <div class = "col-xs-offset-1">
       <%= paginate @cities %>
      </div>
  </div>
</div>
<%= render 'layouts/users-footer' %>