<!-- header navbar -->
<header class = "navbar">
    <nav class="navbar navbar-expand-lg fixed-top">
     <!-- common -->
	   <ul class = "nav navbar-nav navbar-left">
	     <li><%= link_to "Moments" %></li>
	     <li><%= link_to "How it works" %></li>
	     <li><%= link_to "Locations" %></li>
	   </ul>
	   <!-- right side of the header -->
       <% if user_signed_in? %>
         <nav>
           <ul class = "nav navbar-nav navbar-right">
             <li><%= link_to root_path do %>
                   <i class="far fa-heart"></i> Favorites
                 <% end %>
             </li>
             <li><%= link_to [user_path(current_user)] do %>
                   <%#= attachment_image_tag @user, :profile_img, :fill, 1, 1, format: 'jpeg', fallback: "noimage.jpg", size: 10x10 %>
                 <% end %>
             </li>
             <li><%= link_to " Log Out", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out text-muted" %></li>
           </ul>
         </nav>
       <% else %>
         <nav>
           <ul class = "nav navbar-nav navbar-right">
        	  <li><%= link_to "フォトグラファーをはじめる", new_user_registration_path %></li>
              <li><%= link_to " LOG IN", new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
              <li><%= link_to " SIGN UP", new_user_registration_path %></li>
           </ul>
         </nav>
       <% end %>
</header>
