<!-- トップページ -->
<!-- ヘッダー -->
<header>
  <nav class = "navbar">
    <ul class = "nav navbar-nav navbar-left">
     <li><h1 class = "site-title">MOMENTS</h1></li>
    </ul>
    <!-- ヘッダー右 -->
     <% if user_signed_in? %>
         <ul class = "nav navbar-nav navbar-right">
           <li><%= link_to users_countries_path do %>
                <p><i class="fas fa-map-marked-alt"></i> 撮影場所をえらぶ </p>
               <% end %>
           </li>
           <li><%= link_to do %>
                <p><i class="far fa-heart"></i> お気に入りリスト </p>
               <% end %>
           </li>
           <li><%= link_to users_user_path(current_user) do %>
                 <%#= attachment_image_tag current_user, :profile_img, :fill, 100, 100, format: 'jpeg', fallback: "noimage.jpg", size: 100x100 %>
                 <p>こんにちは、<%= current_user.first_name %>さん</p>
               <% end %>
           </li>
           <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <p><i class="fas fa-sign-out-alt"></i> ログアウト </p>
                <% end %>
            </li>
         </ul>
     <% else %>
         <ul class = "nav navbar-nav navbar-right">
            <li><p><%= link_to "フォトグラファーをはじめる", new_user_registration_path %></p></li>
            <li><p><%= link_to " LOG IN", new_user_session_path, class: "glyphicon glyphicon-log-in" %></p></li>
            <li><p><%= link_to " SIGN UP", new_user_registration_path %></p></li>
         </ul>
     <% end %>
  </nav>
</header>
<!-- メイン flex-slider -->
<div class = "flexslider">
  <ul class = "slides">
     <li>
      <%= image_tag "teens.jpg" %>
      <p>LET LET YOUR FRIENDSHIP AWAY</p>
      <span>
      </li>
     <li>
      <%= image_tag "mountain-wedding.jpg" %>
      <p>LET LET YOUR WEDDING</p>
     </li>
     <li>
      <%= image_tag "family.jpg" %>
      <p>LET LET YOUR</p>
      <span>

     </li>
     <li>
      <%= image_tag "graduation1.jpg" %>
      <p>LET LET YOUR</p>
      <span>
     </li>
  </ul>
</div>
<div class = "container-fluid">
  <div class = "row">
    <div class = "about-moments">
      <p class = "anything"> Moments ? </p>
      <p class = "moments">「１枚の写真は1000の言葉の価値がある」ということわざが英語にはあります。<br>写真はその瞬間を切り取る最高のツールであり、写真の中で動かなくなった"その時"は、たくさんの感情や思い出を引き起こします。<br>旅行先で美しい風景を背景に、卒業式で仲間と過ごした思い出のキャンパスを背景に、結婚写真は2人で初めて登ったあの山で<br>私たちはあなたのストーリーが聞こえてくるような写真を撮影します。もっと気軽にフォトグラファーに撮影してもらいませんか？
      <br>
      <br>
      英語で <strong>' moment '</strong>には<strong> 「瞬間」 </strong>と<strong>「短いが素晴らしいひと時」</strong>という2つの意味があります。
      </p>
    </div>
  </div>
  <div class = "row">
    <p class = "anything"> How it works </p>
    <div class = "how-it-works">
      <div class = "col-xs-3">
        <%= image_tag 'net-surfing.jpg', class: "process" %>
        <p class = "process-explanation">撮影場所からフォトグラファーを選択<br>日時を選択して予約</p>
      </div>
      <div class = "col-xs-3">
        <%= image_tag 'shooting.jpg', class: "process" %>
        <p class = "process-explanation">当日、撮影をたのしんでね！</p>
      </div>
      <div class = "col-xs-3">
        <%= image_tag 'pictures.jpg', class: "process" %>
        <p class = "process-explanation"> 1週間以内に写真のデータが送付されます。</p>
      </div>
    </div>
    <div><%= link_to '場所検索', users_countries_path, class: "btn btn-warning col-xs-3 col-xs-offset-4"%></div>
  </div>
  <div class = "row">
    <p class = "anything"> Loved by our clients </p>
  </div>
</div>
<div class= "slider">
  <%#= image_tag("icon.png") %>
  <%#= image_tag("icon.png") %>
  <%#= image_tag("icon.png") %>
  <%#= image_tag("icon.png") %>
  <%#= image_tag("icon.png") %>
  <%#= image_tag("icon.png") %>
  <%#= image_tag("icon.png") %>
  <%#= image_tag("icon.png") %>
</div>
<%= render 'layouts/users-footer' %>

<script type="text/javascript">
    $(window).on("load", function() {
    $('.flexslider').flexslider({
      slideshowSpeed: 4000,
      animation: "fade",
      controlNav: false });
    });
</script>


