<!-- ユーザー マイページ トップページ -->
<div class = "container-fluid">
  <div class = "row">
    <!-- ヘッダー部分テンプレート -->
    <%= render 'layouts/users-header' %>
  </div>
  <div class = "row">
    <div class = "clearfix"></div>
      <div class = "col-xs-3 js-fullheight text-center" id = "mypage-sidebar">
        <h1 class = "mypage-title"> My Page</h1>
        <table class =  "table">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @user, :profile_img, :fill, 1, 1, format: 'jpeg', fallback: "noimage.jpg", size: '120x120', class: 'profile_image' %></td>
            </tr>
            <tr>
              <td><p id = "fullname"><%= current_user.last_name %> <%= current_user.first_name %>さん</p></td>
            </tr>
            <tr>
              <td><p><%= current_user.email %></p></td>
            </tr>
          </tbody>
        </table>
        <div class = "row">
          <div class = "side-bar">
            <ul class="nav nav-sidebar">
              <li><%= link_to users_books_path(current_user) do %>
                   <p><i class="far fa-calendar-alt"></i> 予約一覧</p>
                  <% end %>
              </li>
              <li><%= link_to users_favorites_path(current_user) do %>
                   <p><i class="far fa-heart"></i> お気に入りリスト</p>
                  <% end %>
              </li>
              <li><%= link_to edit_user_registration_path do %>
                   <p><i class="fas fa-user-cog"></i> 基本情報の編集 </p>
                  <% end %>
              </li>
              <% if current_user.photographer_id.present? %>
              <li><%= link_to photographer_top_path(@photographer) do %>
                    <p><i class="fas fa-camera-retro"></i> フォトグラファーマイページ </p>
                  <% end %>
              <% end %>
              </li>
              <% unless current_user.photographer_id? %>
              <li><%= link_to new_photographer_path(current_user) do %>
                <p><i class="fas fa-user-cog"></i> フォトグラファー情報新規作成 </p>
                <% end %>
              </li>
          <% end %>
             </ul>
          </div>
        </div>
      </div>
      <!-- 新着メッセージ一覧 -->
      <div class = "col-xs-9">
        <div class = "updates">
          <div class = "row">
            <div class = "box-title"><p class = "history">新着予約情報</p></div>
              <div class = "main-boxes">
                <table class = "table table-hover">
                  <thead>
                     <tr>
                      <th>image</th>
                      <th>フォトグラファー</th>
                      <th>日付</th>
                      <th>時間</th>
                      <th>待ち合わせ場所</th>
                      <th>メッセージ</th>
                      <th>予約状況</th>
                     </tr>
                  </thead>
                  <tbody>
                  <% @bookings.each do |booking| %>
                    <tr>
                      <td><%= attachment_image_tag booking.photographer, :profile_img, :fill, 5, 5, format: 'jpeg', fallback: "noimage.jpg", size: '50x50' %></td>
                      <td><%= booking.photographer.user.last_name %><%= booking.photographer.user.first_name %></td>
                      <td><%= booking.date %></td>
                      <td><%= booking.start_time.to_time.strftime("%-H時%-M分") %>〜<%= booking.end_time.to_time.strftime("%-H時%-M分") %></td>
                      <td><%= booking.meeting_spot %></td>
                      <td><%= booking.message %></td>
                      <td><%= booking.status %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
                <%= paginate @bookings %>
              </div>
        </div>
　　　 </div>
    </div>
  </div>