<!-- フォトグラファー 予約一覧ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/users-header' %>
<br>
<br>
<br>
<br>
<div class = "container">
  <div class = "row">
	<h1>お気に入り一覧</h1>
	<table class = "table">
		<tr>
			<th></th>
			<th> フォトグラファー</th>
			<th> エリア</th>
			<th> 値段</th>
			<th> 自己紹介</th>
			<th></th>
		</tr>
		<% @favorites.each do |f| %>
			<tr>
				<td> <%= attachment_image_tag f.photographer, :profile_img, :fill, 1, 1, format: 'jpeg', fallback: "noimage.jpg", size: '120x120', class: 'profile_image' %></td>
				<td> <%= f.user.last_name %> <%= f.user.first_name %> </td>
				<td> <%= f.photographer.area %></td>
				<td> <%= f.photographer.price %></td>
				<td> <%= f.photographer.introduction %></td>
				<td> <%= link_to "詳細", users_photographer_path(f.photographer_id), class: "btn btn-success" %></td>
			</tr>
		<% end %>
		<%= paginate @favorites, class: "paginate" %>
	</table>
  </div>
</div>
<%= render 'layouts/users-footer' %>


