<!-- フォトグラファー 予約一覧ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/users-header' %>
<br>
<br>
<br>
<br>
<br>
<br>
<div class = "container">
  <div class = "row">
	<h3><strong>お気に入り一覧</strong></h3>
	<br>
	<table class = "table">
		<tr>
			<th style = "width:150px;"></th>
			<th style = "width:150px;"> フォトグラファー</th>
			<th style = "width:150px;"> エリア</th>
			<th style = "width:150px;"> 値段</th>
			<th style = "width:200px;"> 自己紹介</th>
			<th></th>
		</tr>
		<% @favorites.each do |f| %>
			<tr>
				<td> <%= attachment_image_tag f.photographer, :profile_img, :fill, 100, 100, format: 'jpeg', fallback: "/noimage.jpg", size: '100x100' %></td>
				<td> <%= f.user.last_name %> <%= f.user.first_name %> </td>
				<td> <%= f.photographer.area %></td>
				<td> <%= f.photographer.price %></td>
				<td> <%= f.photographer.introduction %></td>
				<td> <%= link_to "詳細", photographer_path(f.photographer_id), class: "btn btn-success" %></td>
			</tr>
		<% end %>
		<%= paginate @favorites, class: "paginate" %>
	</table>
  </div>
</div>
<%= render 'layouts/users-footer' %>


