<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/users-header' %>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- メイン ビジュアル -->
<div class = "container-fluid">
  <div class = "row" id = "contact-background">
  	<h1 class = "care-info-title">Customer care team</h1>
  	<p class = "thankyou-for-yourcontact"> お問い合わせありがとうございます</p>
	<p class = "thankyou-for-yourcontact">ご返信には2〜3営業日いただいております。</p>
  	<div class = "col-xs-4 col-xs-offset-2" >
      <br>
      <br>
  		<h2 class = "contact-and-business-time clearfix">Contact us</h2>
  		<%= form_for @contact, url: users_contacts_path do |f| %>
        <%= f.text_field :last_name, placeholder: "姓", class: "contact-information" %><%= f.text_field :first_name, placeholder: "名", class: "contact-information" %><br>
        <%= f.email_field :mail, placeholder: "メールアドレス", class: "contact-information" %><br>
        <%= f.text_field :contact_title, placeholder: "件名", class: "contact-information" %><br>
        <%= f.text_area :contact_contents, placeholder: "お問い合わせ内容", class: "contact-information" %>
        <%= f.submit '送信', class: "btn btn-success col-xs-2" %>
      <% end %>
  	</div>
  	<div class = "col-xs-6">
  		<h2 class = "contact-and-business-time clearfix">Opening times</h2>
  		<br>
  		<p>Monay to Friday      8:00am-7:30pm</p>
  		<p>Saturday             9:00am-5:30pm</p>
  		<p>Sunday              10:00am-4:00pm</p>
  	</div>
  </div>
</div>
<!-- フッター部分テンプレート -->
<%= render 'layouts/users-footer' %>
