<div class = "container">
  <div class = "row">
	<% @user.errors.full_messages.each do |message| %>
	  <%= message %>
	<% end %>
	<h1>登録情報編集</h1>

	<table class = "table">
		<tr>
			<th> 姓 / 名</th>
			<th> よみがな</th>
			<th> メールアドレス</th>
			<th> パスワード</th>
			<th></th>
			<th></th>
		</tr>
	<%= form_for ([:admins, @user]) do |f| %>
		<tr>
			<td> <%= f.text_field :last_name %> <%= f.text_field :first_name %> </td>
			<td> <%= f.text_field :kana_last_name %> <%= f.text_field :kana_first_name %></td>
			<td> <%= f.text_field :email %></td>
			<td> <%= f.text_field :encrypted_password %></td>
			<td><%= f.submit "編集完了", class: "btn btn-warning" %></td>
			<td><%= link_to "ユーザ削除", user_registration_path, method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></td>
		</tr>
	<% end %>
  </div>
</div>
