<!-- フォトグラファー 予約編集ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/photographers-header' %>
<br>
<br>
<br>
<div class = "container">
  <div class = "row">
	<h1>予約編集</h1>
	<%= form_for @booking, url: photographer_book_path do |f| %>
	    <div class = "input">
	      <%= f.label :予約者 %>
	      <%= f.text_field :user_id %>
	    </div>
	    <div class = "input">
	      <%= f.label :撮影者 %>
	      <%= f.text_field :photographer_id %>
	    </div>
	    <div class = "input">
	      <%= f.label :日付 %>
	      <%= f.text_field :date %>
	    </div>
	    <div class = "input">
	      <%= f.label :時間 %>
	      <%= f.text_field :start_time %><%= f.text_field :end_time %>
	    </div>
	    <div class = "input">
	      <%= f.label :合計金額 %>
	      <%= f.text_field :total_price %>
	    </div>
	    <div class = "input">
	      <%= f.label :予約状況 %>
	      <%= f.select :status, [["予約承認完了", "予約承認完了"],["撮影完了", "撮影完了"],["キャンセル", "キャンセル"]] %>
	    </div>
		<div><%#= link_to "削除", photographer_book_path(@booking.photographer_id, booking), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></div>
		<%= f.submit '編集完了', class: "btn btn-primary col-xs-2" %>
	<% end %>
  </div>
</div>
<%= render 'layouts/users-footer' %>


