<!-- フォトグラファー 予約編集ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/photographers-header' %>
<br>
<br>
<br>
<div class = "container">
  <div class = "row">
	<h1>予約編集</h1>
	<%= form_for @booking, url: edit_photographer_book_path do |f| %>
	    <div class = "input">
	      <%= f.label :日付 %>
	      <%= f.text_field :date %>
	    </div>
	    <div class = "input">
	      <%= f.label :時間 %>
	      <%= f.text_field :time %>
	    </div>
	    <div class = "input">
	      <%= f.label :合計金額 %>
	      <%= f.text_field :total_price %>
	    </div>
	    <div class = "input">
	      <%= f.label :予約状況 %>
	      <%= f.text_field :status %>
	    </div>
	      <%= f.submit "編集完了", class: "btn btn-warning" %></td>
		<div><%#= link_to "削除", photographer_book_path(booking), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %></div>
	<% end %>
  </div>
</div>