<!-- フォトグラファー 予約一覧ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/photographers-header' %>
<br>
<br>
<br>
<div class = "container">
  <div class = "row">
	<h1>予約一覧</h1>
	<table class = "table">
		<tr>
			<th> 予約番号</th>
			<th> 予約者</th>
			<th> 日付</th>
			<th> 時間</th>
			<th> 合計金額</th>
			<th> 予約状況</th>
			<th> 予約日</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<% @bookings.each do |booking| %>
			<tr>
				<td> <%= booking.id %></td>
				<td> <%= booking.user.last_name %> <%= booking.user.first_name %> </td>
				<td> <%= booking.date %></td>
				<td> <%= booking.time %></td>
				<td> <%= booking.total_price %></td>
				<td> <%= booking.status %></td>
				<td> <%= booking.created_at.strftime("%Y/%-m/%-d") %></p>
				<td> <%= link_to "詳細", photographer_book_path(booking.photographer_id, booking), class: "btn btn-success" %></td>
				<td><%= link_to "編集", edit_photographer_book_path(booking.photographer_id, booking), class: "btn btn-warning" %>
				<td><%= link_to "削除", photographer_book_path(booking.photographer_id, booking), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に削除しますか？" %>
			</tr>
		<% end %>
		<%= paginate @bookings, class: "paginate" %>
	</table>
  </div>
</div>


