<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/users-header' %>
<div id = "booking" class = "section">
  <div class = "section-center">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-5">
		  <div class = "booking-cta">
		    <h1>Book a photographer</h1>
		    <br>
		    <!-- 左下 フォトグラファー情報 -->
            <div class = "row">
			    <%= attachment_image_tag @photographer, :profile_img, :fill, 200, 200, format: 'jpeg', fallback: "noimage.jpg", size: '200x200' %>
		  	  <div class = "photographer-infomation-book-new">
		  	     <h3><strong><%= @photographer.user.last_name %> <%= @photographer.user.first_name %></strong></h3><br>
		  		 一時間あたり：<%= @photographer.price %>円（税抜き）<br>
		  		 対応エリア：<%= @photographer.area %><br>
			  </div>
			</div>
	      </div>
	    </div>
		<div class="col-md-6 col-md-offset-1">
		  <div class="booking-form">
		   <%= form_for @booking, url: photographer_books_path do |booking| %>
			  <div class = "row">
				<div class= "col-md-12">
				  <div class = "form-group">
				  	<%= booking.text_field :date, id: "datepicker", placeholder: "日付を選択", class: "form-control"%>
				  </div>
				</div>
			  </div>
			  <div class = "row">
				<div class="col-md-6">
				  <div class="form-group">
					<%= booking.text_field :start_time, id: "timepicker_start", placeholder: "開始時間を選択", class: "form-control"%>
			      </div>
			    </div>
  				<div class="col-md-6">
			      <div class="form-group">
					<%= booking.text_field :end_time, id: "timepicker_end", placeholder: "終了時間を選択", class: "form-control"%>
			      </div>
				</div>
			  </div>
			  <div class="row">
			　　<div class="col-md-7">
				　<div class="form-group">
					<%= booking.text_field :contact_number, placeholder: "当日つながる電話番（ハイフンなし）", class: "form-control"%>
				　　</div>
				</div>
		      </div>
		      <div class="row">
				<div class="col-md-12">
				  <div class="form-group">
					<%= booking.text_area :meeting_spot, placeholder: "待ち合わせ場所 ※ 住所で入力)", class: "form-control"%>
				  </div>
				</div>
			  </div>
			  <div class = "row">
				<div class = "col-md-12">
				  <div class = "form-group" >
					<%= booking.text_area :message, placeholder: "簡単な自己紹介と当日について", class: "form-control"%>
				  </div>
				</div>
			  </div>
			  <div class = "form-btn">
				<%= booking.submit 'Book Now', class: "submit-btn" %>
			  </div>
		   <% end %>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>

<script type="text/javascript">
	$(function() {
	$('#datepicker').pickadate();
	$("#timepicker_start").pickatime({
		format: 'HH:i', //24時間表記
		interval: 60, // 表示感覚
		min: [08,00],
		max: [18,00]
	  });
	$("#timepicker_end").pickatime({
		format: 'HH:i', //24時間表記
		interval: 60, // 表示感覚
		min: [08,00],
		max: [18,00]
	  });
	});
</script>
