<!-- 都市詳細 フォトグラファー 一覧ページ -->
<div class = "container-fluid">
  <div class = "row">
    <!-- ヘッダー部分テンプレート -->
    <%= render 'layouts/users-header' %>
    <!-- メイン背景イメージ -->
    <div id  = "country-show-img-box">
      <%= attachment_image_tag @city, :city_img, :fill, 1000, 400, format: 'jpeg', fallback: "/no_image.jpg", class: "city-show-img" %>
      <h1><%= @city.city_name %></h1>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<!-- メイン画像と検索フォーム -->
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-xs-9">
      <div clas  = "top-image-city-show">
        <div class = "top-title-city-show">
          <table class="table profile-table">
            <tbody>
            <% @photographers.each do |photo| %>
              <tr>
                <td style = "width:80px;"><%= attachment_image_tag photo, :profile_img, :fill, 100, 100, format: 'jpeg', fallback: "/noimage.jpg", size:'100x100' %></td>
                <td style = "width:150px;"><%= link_to photo.user.last_name, photographer_path(photo) %><%= link_to photo.user.first_name, photographer_path(photo) %></td>
                <td style = "width:150px;"><%= photo.price %>円 / 1時間</td>
                <td class = "contents"><%= photo.introduction %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class = "col-xs-3">
      <div class = "sidebar">
        <div class = "ranking-box">
        <p class = "ranking-title">いいねランキング</p>
        <% @all_ranks.each.with_index(1) do |photographer , i| %>
        <div class = rank-img>
          <div class = "tape"></div>
            <p><%= i %> 位　</p>
            <%= attachment_image_tag photographer, :profile_img, :fill, 80, 80, fallback: "/noimage.jpg", size: "80x80" %>
            <div class = "right">
                <span><%= link_to photographer.user.last_name %><%= link_to photographer.user.first_name %></span><br>
                <p class = "details-rank"><%= number_with_delimiter(photographer.price) %>円 / 1時間</p>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/users-footer' %>