<div id = "booking" class = "section">
  <div class = "section-center">
    <div class = "container">
      <div class = "row">
        <div class = "col-md-5">
		  <div class = "booking-cta">
		    <h1>Book a photographer</h1>
		    <!-- 左下 フォトグラファー情報 -->
            <div class = "row">
              <div class = "col-md-3">
			    <%#= attachment_image_tag @photographer, :profile_img, :fill, 1, 1, format: 'jpeg', fallback: "noimage.jpg", size: '120x120', class: 'profile_image' %>
		  	  </div>
		  	  <div class = "col-md-2">
		  	    <table class = "table">
		          <tbody>
		          	<tr>
		  	          <th><%#= @photographer.user.last_name %> <%#= @photographer.user.first_name %></th>
			        </tr>
					<tr>
		  			  <th><%#= @photographer.price %></th>
		  			  <th><%#= @photographer.area %></th>
					</tr>
				  </tbody>
				</table>
			  </div>
			</div>
	      </div>
	    </div>
		<div class="col-md-6 col-md-offset-1">
		  <div class="booking-form">
		   <%= form_for @booking, url: new_users_book_path do |booking| %>
			  <div class="row">
				<div class="col-md-6">
				  <div class="form-group">
				  	<%= booking.text_field :date, id: "datepicker", class: "form-control"%>
					<span class = "form-label">日付を選択</span>
				  </div>
				</div>
				<div class="col-md-6">
				  <div class="form-group">
					<input class="form-control" type="date" required>
					<span class="form-label">時間を選択</span>
				  </div>
				</div>
			  </div>
			  <div class="row">
				<div class="col-md-12">
				  <div class="form-group">
					<%= booking.text_field :meeting_spot, class: "form-control"%>
					<span class="form-label">待ち合わせ場所</span>
				  </div>
				</div>
			  </div>
			　<div class="row">
			　　<div class="col-md-6">
				　<div class="form-group">
					<%= booking.text_field :contact_number, class: "form-control"%>
					<span class="form-label">当日つながる電話番号</span>
				　　</div>
				</div>
				<div class = "col-md-3 col-sm-6">
				　<div class = "form-group">
					<span class = "form-label">撮影人数</span>
					<%= booking.select :people, [["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8", "8"],["9", "9"],["10", "10"],["10人以上", "10人以上"] ], class: "form-control", :include_blank => true %>
					<!-- <select class="form-control"> -->
					<!-- <option>1</option> -->
					<!-- <option>2</option> -->
					<!-- <option>3</option> -->
					<!-- </select> -->
					<!-- <span class="select-arrow"></span> -->
				  </div>
				</div>
		      </div>
			  <div class = "row">
				<div class = "col-md-12">
				  <div class = "form-group">
					<input class = "form-control" type = "text">
					<span class = "form-label">メッセージ</span>
				  </div>
				</div>
			  </div>
			  <div class = "form-btn">
				<%= booking.submit 'Book Now', class: "submit-btn" %>
			  </div>
		   <% end %>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="js/jquery.min.js"></script>
<script>
	$('.form-control').each(function () {
		floatedLabel($(this));
	});

	$('.form-control').on('input', function () {
		floatedLabel($(this));
	});

	function floatedLabel(input) {
		var $field = input.closest('.form-group');
		if (input.val()) {
			$field.addClass('input-not-empty');
		} else {
			$field.removeClass('input-not-empty');
		}
	}
</script>