<!-- ユーザー登録後、フォトグラファー権限カラムtrueの場合に、フォトグラファー情報登録画面として本画面に遷移 -->
<script>
    
$('.js-searchable').select2({
  width: 200,
  allowClear: true,
  theme: "bootstrap"
});

  </script>


<%= render 'layouts/photographers-header' %>
<div class = "container">
	<div class = "row">
		<h4 class = "user-edit">フォトグラファー情報の編集</h4>
	</div>
</div>
<div class = "container">
  <div class = "row">
   <%= form_for @photographer do |f| %>
     <div class = "input">
      <%= f.label :プロフィール画像 %>
      <%= f.attachment_field :profile_img %>
     </div>

     <div class = "input">
      <%= f.label :一時間あたりの値段 %>
      <%= f.text_field :price, autofocus: true %>
     </div>
     <div class = "input">
      <%= f.label :対応可能エリア %>
      <%= f.select :city_id, options_from_collection_for_select(@cities, :id, :city_name), input_html: {class: "js-searchable"} %>
      <%#= select_tag :photographer, options_from_collection_for_select(@cities, :id, :city_name), class: "js-searchable" %>
     </div>
     <div class = "input">
      <%= f.label :母国語 %>
      <%= f.text_field :mother_tongue, autofocus: true %>
     </div>
     <div class = "input">
      <%= f.label :話せる言語1 %>
      <%= f.text_field :language_1, autofocus: true %>
     </div>
     <div class = "input">
      <%= f.label :話せる言語2 %>
      <%= f.text_field :language_2, autofocus: true %>
     </div>
     <div class = "input">
      <%= f.label :自己紹介 %>
      <%= f.text_field :introduction, autofocus: true %>
     </div>

     <!-- images 追加 -->
     <h3 class = "photographer-edit"> 画像追加 </h3>
     <p> ※ 空欄は不可となります。6つすべてに画像を入れてください。</p>
     <div id = "images">
      <%= f.fields_for :images do |i| %>
        <div class = "nested-fields">
	       <div class = "field">
	         <%= i.attachment_field :image %>
	       </div>
	       <div class = "field">
	         <%= i.select :image_number, [["1", "1"], ["2", "2"],  ["3", "3"], ["4", "4"],["5", "5"],["6", "6"]], class: "form-control", :prompt => "画像の位置を選択" %>
	       </div>
        </div>
      <% end %>
     </div>
     <br>
     <div class = "actions">
       <%= f.submit '編集完了', class: "btn btn-primary col-xs-2" %>
   <% end %>
  </div>
</div>

