<!-- フォトグラファー "ポートフォリオを確認" ページ -->
<!-- ヘッダー部分テンプレート -->
<%= render 'layouts/photographers-header' %>
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-xs-3 js-fullheight text-center">
      <%= image_tag 'noimage.jpg' %>
      <%#= attachment_image_tag @photographer, :profile_img, :fill, 1, 1, format: 'jpeg', fallback: "noimage.jpg", size: '120x120', class: 'profile_image' %>
        <ul>
          <li><p><%= @photographer.user.last_name %> <%= @photographer.user.first_name %></p></li>
          <li>Contact</li>
          <!-- SNS リンク -->
          <li><a href = "#" class = "sns-btn"><i class = "fab fa-twitter-square"></i></a></li>
          <li><a href = "#" class = "sns-btn"><i class = "fab fa-instagram"></i></a></li>
          <li><a href ="#" class = "sns-btn"><i class = "fab fa-facebook-square"></i></a></li>
      <!-- いいねボタン -->
          <li><span id = "favorite_buttons_<%= @photographer.id %>"></span>
            <%= render :partial => 'users/favorites/favorite', :locals => { photographer: @photographer} %>
          </li>
          </span>
        </ul>
        <div class="form-btn">
          <%= link_to 'Book Now', new_photographer_book_path(@photographer), class: "btn btn-danger" %>
        </div>
    </div>
    <div class = "col-xs-8">
      <main>
        <div class = "introduction">
          <p class = "hi-message"> Hello. I am <%= @photographer.user.first_name %></p>
          <p>Joained in <%= @photographer.created_at.strftime("%Y") %></p>
          <i class = "fas fa-quote-left" id = "quote-icon"></i>
          <p class = "who-i-am clearfix"><%= @photographer.introduction %></p>
        </div>
        <div class = "area">
          <p><span class="fas fa-map-marked-alt" id = "map-pin-icon"></span> Lives in <%= @photographer.area %></p>
        </div>
        <div class = "language">
          <p><span class="fas fa-comments" id = "language-icon"></span>Speaks native <%= @photographer.mother_tongue %> / conversational <%= @photographer.language_1 %> <%= @photographer.language_2 %></p>
        </div>

        <div class = "row" id = "image-zone">
          <!-- メイン flex-slider -->
          <div class = "flexslider">
            <ul class = "slides">
               <li><%= image_tag "slider1.jpg" %></li>
               <li><%= image_tag "slider2.jpg" %></li>
            </ul>
          </div>
          <!-- Single Gallery Item -->
          <div class = "single_gallery_item nature mb-30 wow fadeInUp" data-wow-delay="100ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
          <!-- Single Gallery Item -->
          <div class="single_gallery_item video human mb-30 wow fadeInUp" data-wow-delay="300ms">
              <div class="single-portfolio-content">
                  <%= image_tag 'noimage.jpg' %>
              </div>
          </div>
        </div>
      </main>
    </div>
    </div>
  </div>
</div>