<!-- フォトグラファー マイページ トップページ -->
<div class = "container-fluid">
  <div class = "row">
    <div class = "clearfix"></div>
      <div class = "col-xs-3 js-fullheight text-center" id = "photographer-mypage">
        <h1 class = "mypage-title"> Photographer<br>my page</h1>
        <table class =  "table" id = "photographer-info">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @photographer, :profile_img, :fill, 120, 120, format: 'jpeg', fallback: "noimage.jpg", size: '120x120', class: 'profile_image' %></td>
            </tr>
            <tr>
              <td><p id = "fullname"><%= @user.last_name %> <%= @user.first_name %></p></td>
            </tr>
          </tbody>
        </table>
        <div class = "row">
          <div class = "side-bar">
            <ul class="nav nav-sidebar">
              <li><%= link_to photographer_books_path(current_user) do %>
                   <p><i class="far fa-calendar-alt"></i> 予約一覧</p>
                  <% end %>
              </li>
              <li><%= link_to photographer_path(current_user) do %> <!-- showページへ -->
                    <p><i class="fas fa-camera-retro"></i> ポートフォリオを確認 </p>
                  <% end %>
              </li>
              <li><%= link_to edit_photographer_path(current_user) do %> <!-- editページへ -->
                    <p><i class="far fa-edit"></i> ポートフォリオを編集 </p>
                <% end %>
              </li>
              <li><%= link_to edit_user_registration_path do %>
                    <p><i class="fas fa-user-cog"></i> 基本情報の編集 </p>
                  <% end %>
              </li>
             </ul>
          </div>
        </div>
      </div>
    <div class = "col-xs-9">
      <header class = "navbar">
       <nav>
        <ul class = "nav navbar-nav navbar-right">
          <li><%= link_to users_root_path(current_user) do %>
                <p><i class="fas fa-home"></i> サイトトップへ</p>
              <% end %>
          </li>
          <li><%= link_to users_user_path(current_user) do %>
                <p><i class="fas fa-user-circle"></i> ユーザーマイページへ </p>
              <% end %>
          </li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <p><i class="fas fa-sign-out-alt"></i> ログアウト </p>
                <% end %>
            </li>
        </ul>
       </nav>
      </header>
      <!-- 新着メッセージ一覧 -->
      <div class = "updates">
        <div class = "row">
          <div class = "box-title"><p class = "history">新着予約情報</p></div>
            <div class = "main-boxes">
              <table class = "table table-hover">
                <thead>
                   <tr>
                    <th>image</th>
                    <th>予約者</th>
                    <th>日付</th>
                    <th>時間</th>
                    <th>待ち合わせ場所</th>
                    <th>メッセージ</th>
                    <th>予約状況</th>
                   </tr>
                </thead>
                <tbody>
                <% @bookings.each do |booking| %>
                  <tr>
                    <td><%= attachment_image_tag booking.photographer, :profile_img, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size: '50x50' %></td>
                    <td><%#= booking.user.last_name %><%#= booking.user.first_name %></td>
                    <td><%= booking.date %></td>
                    <td><%= booking.start_time.to_time.strftime("%-H時%-M分") %>〜<%= booking.end_time.to_time.strftime("%-H時%-M分") %></td>
                    <td><%= booking.meeting_spot %></td>
                    <td><%= booking.message %></td>
                    <td><%= booking.status %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>
              <%= paginate @bookings %>
            </div>
        </div>
        <!-- 新着問い合わせ一覧 -->
        <div class = "row">
          <div class = "box-title"><p class = "history">最新のお問い合わせ</p></div>
            <div class = "main-boxes">
                <table class = "table">
                  <thead>
                     <tr>
                      <th>image</th>
                      <th>受信時刻</th>
                      <th>ユーザー名</th>
                      <th>タイトル</th>
                      <th>内容</th>
                     </tr>
                  </thead>
                  <tbody>
                  <%# .each do |order| %>
                    <tr>
                      <td><%#= link_to order.id, order_path(order.id) %></td>
                      <td><%#= order.shipping_status %></td>
                      <td><%#= order.created_at.to_date %></td>
                    </tr>
                  <%# end %>
                  </tbody>
                </table>
                <%#= paginate @#orders %>
            </div>
        </div>
        <div class = "row">
          <div class = "box-title"><p class = "history">最新のレビュー</p></div>
            <div class = "main-boxes">
                <table class = "table">
                  <thead>
                     <tr>
                      <th>image</th>
                      <th>投稿時刻</th>
                      <th>ユーザー名</th>
                      <th>タイトル</th>
                      <th>内容</th>
                     </tr>
                  </thead>
                  <tbody>
                  <%# .each do |order| %>
                    <tr>
                      <td><%#= link_to order.id, order_path(order.id) %></td>
                      <td><%#= order.shipping_status %></td>
                      <td><%#= order.created_at.to_date %></td>
                    </tr>
                  <%# end %>
                  </tbody>
                </table>
                <%#= paginate @#orders %>
            </div>
        </div>
      </div>
  </div>
</div>