<div class = "container">
  <div class = "row">
    <!-- ヘッダー -->
    <div class = "header-line">
     <p class = "header-message">フォトグラファーページ</p>
    </div>
    <header class = "navbar navbar-light bg-light">
     <nav>
      <ul class = "nav navbar-nav navbar-right">
          <li><%= link_to 'このページの使い方' %>
        <li><%= link_to '問い合わせ' %></li>
        <li><%= link_to '予約一覧' %></li>
        <li><%= link_to '基本情報を編集', edit_user_registration_path(@photographer) %></li>  <!-- devise registration edit ページへ-->
        <li><%= link_to 'ポートフォリオを確認', photographers_photographer_path(@photographer) %></li> <!-- showページへ -->
        <li><%= link_to 'ポートフォリオを編集', edit_photographers_photographer_path(@photographer) %></li> <!-- editページへ -->
        <li><%= link_to 'ログアウト', method: :delete %></li>
      </ul>
     </nav>
    </header>
  </div>
</div>