<div class = "container">
  <div class = "row">
    <div class = "col-xs-4">
     <div class = "photographer-info">
      <table class =  "table">
        <tbody>
        <tr>
          <td><p>名前: <%= @photographer.user.last_name %> <%= @photographer.user.first_name %></p></td>
        <tr>
          <td><%#= attachment_image_tag @photographer, :profile_img, :fill, 1, 1, format: 'jpeg', fallback: "noimage.jpg", size: '120x120', class: 'profile_image' %></td>
        </tr>
        <tr>
          <td><p><%= @photographer.created_at.strftime("%Y") %> からメンバー</p></td>
        </tr>
        <tr>
          <!-- <td>number of reviews</td> -->
        </tr>
        </tbody>
      </table>
     </div>
    </div>
    <div class = "col-xs-8">
      <p class = "hi-message"> Hello. I am <%= @photographer.user.first_name %></p>
      <table class =  "table">
        <tbody>
          <tr>
            <th><span class="fas fa-quote-left"></span></th>
          </tr>
          <tr>
            <td><%= @photographer.introduction %></td>
          </tr>
          <tr>
            <td><p><span class="fas fa-home"> Area:<%= @photographer.area %></span></p></td>
          </tr>
          <tr>
            <td><p><span class="fas fa-comments"> I speak native <%= @photographer.mother_tongue %> / conversational <%= @photographer.language_1 %> <%= @photographer.language_2 %></span></p></td>
          </tr>
        </tbody>
      </table>
      <div class = "row">
        <div class = "col-xs-5 ">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-main" %>
        </div>
        <div class = "col-xs-3">
          <div class = "row">
            <%= image_tag 'noimage.jpg', class: "portfolio-image-2" %>
          </div>
          <div class = "row">
            <%= image_tag 'noimage.jpg', class: "portfolio-image-3" %>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-xs-2">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-4" %>
        </div>
        <div class = "col-xs-2">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-5" %>
        </div>
        <div class = "col-xs-2">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-6" %>
        </div>
      </div>
    </div>
    <div class ="favorite-box">
    <% if user_signed_in? %>
    <% unless @product.reviewed_by?(current_user) %>
      <%= link_to "レビューを投稿する", new_product_review_path(@product), class: "review-button btn btn-success" %>
      <% else %>
            <% review = Review.find_by(user_id: current_user.id, product_id: @product.id) %>
      <%= link_to "レビューを編集する", edit_product_review_path(@product, @review), class: "review-button btn btn-success" %>
      <%= link_to "レビューを削除する", product_review_path(@product, @review), method: :delete, data:{confirm:"本当に削除しますか?"}, class: "review-button btn btn-warning" %>
       <% end %>
    <% else %>
      <p>レビューを書くにはログインしてください。</p>
    <% end %>
  </div>
  </div>
</div>