<div class = "container">
  <div class = "row">
    <div class = "col-xs-4">
     <div class = "photographer-info">
      <table class =  "table">
        <tbody>
        <tr>
          <td><p>名前: <%= @photographer.users.last_name %> <%= @photographer.users.first_name %></p></td>
        <tr>
          <td><%#= attachment_image_tag @photographer, :profile_img, :fill, 1, 1, format: 'jpeg', fallback: "noimage.jpg", size: '120x120', class: 'profile_image' %></td>
        </tr>
        <tr>
          <td><p><%= @photographer.created_at.strftime("%Y") %> からメンバー</p></td>
        </tr>
        <tr>
          <!-- <td>number of reviews</td> -->
        </tr>
        </tbody>
      </table>
     </div>
    </div>
    <div class = "col-xs-8">
      <p class = "hi-message"> Hello. I am <%= @user.first_name %></p>
      <table class =  "table">
        <tbody>
          <tr>
            <th><span class="fas fa-quote-left"></span></th>
          </tr>
          <tr>
            <td><%= @photographer.introduction %></td>
          </tr>
          <tr>
            <td><p><span class="fas fa-home"> Area:<%= @photographer.area %></span></p></td>
          </tr>
          <tr>
            <td><p><span class="fas fa-comments"> I speak native <%= @photographer.mother_tongue %> / conversational <%= @photographer.language_1 %> <%= @photographer.language_2 %></span></p></td>
          </tr>
        </tbody>
      </table>
      <div class = "row">
        <div class = "col-xs-5 ">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-main" %>
        </div>
        <div class = "col-xs-3">
          <div class = "row">
            <%= image_tag 'noimage.jpg', class: "portfolio-image-2" %>
          </div>
          <div class = "row">
            <%= image_tag 'noimage.jpg', class: "portfolio-image-3" %>
          </div>
        </div>
      </div>
      <div class = "row">
        <div class = "col-xs-2">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-4" %>
        </div>
        <div class = "col-xs-2">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-5" %>
        </div>
        <div class = "col-xs-2">
          <%= image_tag 'noimage.jpg', class: "portfolio-image-6" %>
        </div>
      </div>
    </div>
  </div>
</div>