<!-- ヘッダー -->
<div class = "container-fluid">
  <div class = "row">
    <header>
      <nav class = "navbar">
        <ul class = "nav navbar-nav navbar-left">
         <li><h1 class = "site-title">MOMENTS</h1></li>
        </ul>
        <!-- ヘッダー右 -->
         <% if user_signed_in? %>
             <ul class = "nav navbar-nav navbar-right">
              <li><%= link_to users_users_path do %>
                    <p><i class="far fa-smile"></i> トップページへ </p>
                   <% end %>
               </li>
               <li><%= link_to users_countries_path do %>
                    <p><i class="fas fa-map-marked-alt"></i> 撮影場所をえらぶ </p>
                   <% end %>
               </li>
               <li><%= link_to do %>
                    <p><i class="far fa-heart"></i> お気に入りリスト </p>
                   <% end %>
               </li>
               <li><%= link_to users_user_path(current_user) do %>
                     <%#= attachment_image_tag current_user, :profile_img, :fill, 100, 100, format: 'jpeg', fallback: "noimage.jpg", size: 100x100 %>
                     <p>こんにちは、<%= current_user.first_name %>さん</p>
                   <% end %>
               </li>
               <li><%= link_to destroy_user_session_path, method: :delete do %>
                      <p><i class="fas fa-sign-out-alt"></i> ログアウト </p>
                    <% end %>
                </li>
             </ul>
         <% else %>
             <ul class = "nav navbar-nav navbar-right">
               <li><%= new_user_registration_path do %>
                     <p><i class="fas fa-camera"></i>フォトグラファーをはじめる</p>
                   <% end %>
               </li>
               <li><%= new_user_session_path do %>
                     <p><i class="fas fa-sign-in-alt"></i>ログイン</p>
                   <% end %>
               </li>
               <li><%= new_user_registration_path do %>
                     <p><i class="fas fa-user-plus"></i>アカウント登録</p>
                   <% end %>
               </li>
             </ul>
         <% end %>
      </nav>
    </header>
    <!-- ヘッダーここまで -->
  </div>
</div>

<script type="text/javascript">
  $(function() {
    var $win = $(window),
        $header = $('header'),
        animationClass = 'transform';

    $win.on('load scroll', function() {
      var value = $(this).scrollTop();
      if ( value > 100 ) {
        $header.addClass('transform');
      } else {
        $header.removeClass('transform');
      }
    });
  });
</script>